
{{#each students}}
<div class="container-fluid">
<div class="row" id="userName" >
  <div class='col-md-2'></div>
  <div class='col-md-2'style="background-color: gray">
   <a href="/profile/{{id}}"><img src="{{img_url}}" class="profileSummaryImg"></a>
   </div>
  <div class='col-md-6'style="background-color: gray">
    <h1>{{student_name}}</h1>
    <h1>{{slack_id}}</h1>
  </div>
  <div class='col-md-2'></div>
</div>
</div>
{{/each}}