<div class="container">
    <div class="row">
      <div class="col-sm-4">
         <img src="{{img_url}}" class="profileImg">
      </div>
      <div class="col-sm-8">
        <h1>{{student_name}}</h1><br>
        <h1>{{slack_id}}</h1><br>
        <h1>PLACEHOLDER</h1><br>
        <h1>PLACEHOLDER</h1><br>
        <h1>PLACEHOLDER</h1><br>
        <h1>PLACEHOLDER</h1><br>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Leave review here</h2>
      </div>
      <div class="col-sm-6"></div>
   </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
        <h2>Your name</h2>
      <div class="col-sm-6"></div>
   </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
        <h2>Rating</h2>
      <div class="col-sm-6"></div>
   </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-12"></div>
        <h2>Leave a comment</h2>
   </div>
</div>
