
{{#each reviews}}
<h1>{{input_name}}</h1><br>
<h2>{{fist_of_five}}</h2><br>
<h2>{{review_comment}}</h2>
{{/each}}


<form action="" method="POST">
  <input type="text" name="comment_name" placeholder="Your name here">
  <input type="text" name="comment" placeholder="Write your comment here">
  <input type="submit" value="submit">
</form>